@model Contacts.Repository.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Contact</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobileNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobileNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomePhoneNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomePhoneNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfficePhoneNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficePhoneNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrganizationName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrganizationName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SSN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SSN)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
